<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AdminCode" value="8194192C10D4D7E7C4F0A9D0C91636F48B4468C20B5102F07E459BD4059D729902A2B3212EAD7A0FEAB3588ADE2410504978CB29A3E04D476B1127A59C65B6B4" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>